.slider.swiper#slider
    .slider-wrapper.swiper-wrapper
        .slider-slide.swiper-slide
            <iframe src="https://www.youtube.com/embed/ResXcLClJ_4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        .slider-slide.swiper-slide
            <iframe src="https://www.youtube.com/embed/3TF0bi2jz5Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        .slider-slide.swiper-slide
            <iframe src="https://www.youtube.com/embed/CGxvoe6MUHk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        .slider-slide.swiper-slide
            <iframe src="https://www.youtube.com/embed/17JK6Y0UjBA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        .slider-slide.swiper-slide
            <iframe src="https://www.youtube.com/embed/9JIM57a0iVA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        .slider-slide.swiper-slide
            <iframe src="https://www.youtube.com/embed/iBMTGuXjNFc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    .slider-navigation
        .slider-pagination.swiper-pagination#slider-pagination
        .slider-button-prev.swiper-button-prev
        .slider-button-next.swiper-button-next