main.main
    .main__row.row
        .main__avatar.img__empty
            img(data-src="./img/mary.png" data-alt="Мария Рахмани-Тарчевская, нейропсихолог")
        .main__about
            h2.main__whoiam Нейропсихолог, клинический психолог с навыками UX-исследователя
            p Москва
            p Мой стиль - непрерывное усовершенствование и принятие вызовов.
            p <span class="main__emoji">☎️</span>Telegram, WhatsApp для связи: <br>@maria_psy  +7 916 092 12 15
