section.experience
    h3.experience__title Опыт работы<br><span style="font-size: calc(inherit-10px)">2012 - 2021</span>
    p Последние 10 лет я совмещаю несколько должностей с проектной работой.
    ul
        li занималась диагностической и коррекционной работой с детьми, в том числе с особенностями развития и поведения,
        li разработала и выпустила несколько развивающих настольных игр и стимульных материалов для когнитивной коррекции внимания, памяти, мышления у школьников,
        li привлекалась в различные проекты для геймификации обучения, включая школу программирования “Алгоритмика”, фонд поддержки образования “Ноосфера”, сеть батутных парков «Небо».
        li имела опыт 3-летнего руководства детским нейропсихолгическим центром “Современная Академия Развития
        li провела около 50 семинаров для специалистов по методам нейропсихологической коррекции в разных городах России: Москва, Санкт-Петербург, Рязань, Нижний Новгород, Казань. Темы: «Трудности школьного обучения. Нейропсихологический подход к преодолению», «Нейропсихологическая коррекция. Двигательный нейроинтенсив». <a href="https://vk.com/neuropsyseminary?ysclid=lct3ul8l32514898622">Группа в vk “Семинары по Нейропсихологии”</a>
        li организационная психология и проектное управление в ООО “Eco-technic Consulting” - международная консалтинговая компания в сфере промышленной экологии.
    p (сопровождала проекты, участвовала в организации переговорных процессов и конференций, составляла презентации, систематизировала данные,  координировала и выполняла переводы  с иностранных языков и подготовку сопроводительной документации)