section.education
    h3 Образование
    p <i>Альма-матер:</i>
    ul
        li МГУ имени М.В. Ломоносова (2007 - 2012) Психолог. Клинический психолог
    p Кафедра нейро- и патопсихологии <br>Дипломный проект напрямую связан с копинг-стратегиями у подростков.
    p <i>Повышение квалификации:</i>
    ul
        li ИПиКП - Психологическое консультирование. Детская психотерапия. 2013 - 2014
        li Курсы и стажировки: НИЦ детской нейропсихологии имени А.Р. Лурия 2013-2015
        li Яндекс.Практикум “Ux-исследования” (2022), Нетология (2021): Интернет-Маркетинг
