section.interests
    h3.interests__title Пара слов обо мне:
    p С детства сочиняю музыку на фортепиано, владею навыками композиции<br>В свободное время занимаюсь звукорежиссурой, создаю аранжировки в Logic Pro
    p Делюсь двумя композициями cобственного сочинения и последующего сведения:<br><a href="https://disk.yandex.ru/i/X_EfUo1DwJHF2Q">в стиле неоклассика для фортепиано и виолончели</a><br><a href="https://drive.google.com/file/d/1rbrBSERCO45TriVe52Kqprm-XQgpd3yL/view?usp=sharing">в стиле future-garage</a>
    p Сфера научных интересов: когнитивно-поведенческая психология, психология мотивации и эмоций, памяти и внимания, нейро-технологии в образовании
    p Последние 2 года активно погружаюсь в продукт, анализ и проектирование пользовательского и клиентского опыта, применение IT-инструментов для нейропсихологической коррекции и восстановления высших психических функций. Хочу развиваться в этом направлении.