section.skills
    h3.skills__title Навыки
    ul
        li составление методических программ по требованию заказчика
        li проведение лекций, семинаров
        li сервисы для работы: Miro, Notion; в процессе более детального изучения Figma
        li виртуальные инструменты для управления работой: Trello
        li фреймворки: CJM, JTBD
        li проведение полного цикла исследований: глубокое погружение в задачу с агрегацией требований заказчика и идентификацией проблематики, валидацией гипотез, проведением конкурентного анализа (сравнительный UX-аудит), сбор и систематизация данных, разработка дизайна исследования c применением комплексного подхода, подбор и адаптация методологии, проведение юзабилити-тестирования, глубинного интервью, опросов, анализ и представление полученных даных, создание презентации, проектирование решений
        li Испанский язык - B1, Английский язык — B1;
        li ориентируюсь на корпоративные ценности бизнеса, применяю критическое мышление
        li Проведение нейропсихологической/ психологической диагностики; коррекции по методу замещающего онтогенеза; с применением методов сенсорно-интегративного подхода; технологий БОС - биовидеоуправления «Timoссo»